@charset "UTF-8";
@import "default.css";
html,
body {
  width: 100vw;
}

body {
  position: relative;
  overflow-x: hidden;
  color: #222;
  cursor: none;
}

img {
  -webkit-user-drag: none;
}

h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

.cursor {
  position: absolute;
  z-index: 10000;
}
.cursor span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s;
}
.cursor span.real {
  z-index: 10001;
  background-color: #f7788a;
  mix-blend-mode: difference;
}

.cursor.active span {
  width: 6.25rem;
  height: 6.25rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.innerbox {
  width: 80%;
  margin: 0 auto;
}

#header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
  box-sizing: border-box;
}
#header h1 {
  width: 4.375rem;
  height: 4.375rem;
}
#header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  transform: rotate(0deg);
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
}
#header h1:hover > a {
  -webkit-animation: rotate360 5s linear 0s both infinite;
          animation: rotate360 5s linear 0s both infinite;
}
#header ul {
  display: flex;
}
#header ul li {
  position: relative;
  margin-left: 15px;
}
#header ul li:first-child {
  margin-left: 0;
}
#header ul li::before {
  display: block;
  content: "/";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-55%);
}
#header ul li:last-child::before {
  display: none;
}
#header ul li a {
  color: #222;
}

#main_visual {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #f7e2a7;
  border-bottom: 1px dotted #a0a0a0;
}
#main_visual .text_wrap {
  text-align: center;
  letter-spacing: -2px;
}
#main_visual .text_wrap .heading {
  font-weight: 400;
  font-size: 9rem;
}
#main_visual .text_wrap .heading.bottom {
  font-size: 11rem;
}
#main_visual .text_wrap .heading .strong {
  font-size: 12rem;
  font-weight: 700;
  color: #f7788a;
}

#about {
  margin: 0;
  padding-top: 20vh;
  background-image: linear-gradient(180deg, #f7e2a7 0%, rgba(247, 226, 167, 0) 25%, rgba(255, 255, 255, 0) 100%);
}
#about .introduction {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin-bottom: 6rem;
}
#about .content_left {
  width: 30%;
  background: #fff;
  border: 1px solid #222;
}
#about .content_right {
  width: 70%;
}
#about .sect_title {
  font-family: "Pretendard Variable", "맑은 고딕", sans-serif;
  font-size: 2.2rem;
  letter-spacing: -1px;
  display: inline-block;
  padding: 3rem 5rem 2rem;
  background-image: url("../img/quote1.png"), url("../img/quote2.png");
  background-repeat: no-repeat;
  background-size: 3.5rem auto;
  background-position: left top, right top;
}
#about .sect_title span {
  position: relative;
  top: -0.75rem;
}
#about .history {
  margin-top: 8rem;
}
#about .history li {
  margin: 0 5rem 0 2rem;
  padding: 0 0 4rem 3rem;
  border-left: 1px solid #222;
  position: relative;
}
#about .history li:last-child {
  padding-bottom: 2rem;
}
#about .history li::before {
  display: block;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #222;
  position: absolute;
  left: -0.35rem;
  top: 0;
  z-index: 10;
}
#about .history li::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 0;
  position: absolute;
  left: 0;
  top: 0.4rem;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
#about .history li:hover::after {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #f7788a;
}
#about .history li h4 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
#about .history li span {
  color: #454545;
}
#about .history li p {
  font-size: 1.1rem;
  margin-top: 1.3rem;
}
#about .skills h3 {
  margin: 20rem 0 2rem;
  font-size: 8rem;
}
#about .skills .icons {
  width: 100%;
  height: calc(100vh - 8rem);
  position: relative;
}
#about .skills .icons .ico {
  height: auto;
  position: absolute;
}
#about .skills .icons .ico img {
  width: 100%;
  height: auto;
}
#about .skills .icons .i1 {
  width: 9.375rem;
  left: 35%;
  top: 30%;
}
#about .skills .icons .i2 {
  width: 9.375rem;
  left: 55%;
  top: 20%;
}
#about .skills .icons .i3 {
  width: 9.375rem;
  left: 48%;
  top: 55%;
}
#about .skills .icons .i4 {
  width: 6.125rem;
  left: 30%;
  top: 80%;
}
#about .skills .icons .i5 {
  width: 5.625rem;
  left: 78%;
  top: 40%;
}
#about .skills .icons .i6 {
  width: 8.75rem;
  left: 68%;
  top: 85%;
}
#about .skills .icons .i7 {
  width: 5.625rem;
  left: 80%;
  top: 5%;
}
#about .skills .icons .i8 {
  width: 3.75rem;
  left: 92%;
  top: 50%;
}
#about .skills .icons .i9 {
  width: 5.625rem;
  left: 17%;
  top: 20%;
}
#about .skills .icons .i10 {
  width: 3.125rem;
  left: 8%;
  top: 32%;
}
#about .skills .icons .i11 {
  width: 4.375rem;
  left: 15%;
  top: 60%;
}

#project {
  margin-top: 30vh;
  background-color: #fff;
  transition: background-color 0.6s ease;
}
#project.blur {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(167, 239, 247, 0) 75%, #a7eff7 100%);
}
#project .wave {
  /* font다르게 */
  font-size: 2rem;
  transition: color 0.6s ease;
}
#project h2 {
  margin-top: 20vh;
  font-size: 10rem;
  transition: color 0.6s ease;
}
#project .projects {
  margin-top: 10vh;
  padding-bottom: 50vh;
}
#project .projects li {
  width: 80%;
  height: 10rem;
  line-height: 10rem;
  margin-left: auto;
  margin-right: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f7788a;
  position: relative;
}
#project .projects li h4 {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 3%;
  font-weight: 900;
  font-size: 2rem;
}
#project .projects li h4.main-text {
  color: #fff;
  mix-blend-mode: difference;
  z-index: 10005;
}
#project .projects li h4::-moz-selection {
  background: none;
}
#project .projects li h4::selection {
  background: none;
}
#project .contents {
  display: none;
}

#contact {
  width: 100vw;
  height: 43.75rem;
  position: relative;
  left: 0;
  bottom: 0;
  background: url("../img/contact_bg.png") no-repeat center bottom;
  background-color: #a7eff7;
  background-size: cover;
  transition: background-color 0.6s ease;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
}