@import "default.css";

$mainColor: #f7e2a7;
$pointColor: #f7788a;

@mixin setLocation($width, $left, $top) {
  width: $width;
  left: $left;
  top: $top;
}

html,
body {
  width: 100vw;
}
body {
  position: relative;
  overflow-x: hidden;
  color: #222;
}
img {
  -webkit-user-drag: none;
  user-drag: none;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.innerbox {
  width: 80%;
  margin: 0 auto;
}
section:not(:first-of-type) {
  margin: 20vh 0;
}
#header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
  box-sizing: border-box;
  h1 {
    width: 4.375rem;
    height: 4.375rem;
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      transform: rotate(0deg);
      background: url("../img/logo.png") no-repeat;
      background-size: cover;
    }
    &:hover > a {
      animation: rotate360 5s linear 0s both infinite;
    }
  }
  ul {
    display: flex;
    li {
      position: relative;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
      &::before {
        display: block;
        content: "/";
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-55%);
      }
      &:last-child::before {
        display: none;
      }
      a {
        color: #222;
      }
    }
  }
}
#main_visual {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  border-bottom: 1px dotted #a0a0a0;
  .text_wrap {
    text-align: center;
    font-size: 6.875rem;
    letter-spacing: -2px;
    .heading {
      font-weight: 400;
      .strong {
        font-weight: 700;
        position: relative;
        top: -0.625rem;
        color: $pointColor;
      }
    }
  }
}
#about {
  margin: 0;
  padding: 20vh 0;
  background-image: linear-gradient(
    180deg,
    $mainColor 0%,
    rgba(247, 226, 167, 0) 25%,
    rgba(255, 255, 255, 0) 100%
  );
  .introduction {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin-bottom: 6rem;
  }
  .content_left {
    width: 30%;
    background: #fff;
    border: 1px solid #222;
  }
  .content_right {
    width: 70%;
  }
  .sect_title {
    font-size: 2.2rem;
    letter-spacing: -1px;
    display: inline-block;
    padding: 3rem 5rem 2rem;
    background-image: url("../img/quote1.png"), url("../img/quote2.png");
    background-repeat: no-repeat;
    background-size: 3.5rem auto;
    background-position: left top, right top;
    span {
      position: relative;
      top: -0.75rem;
    }
  }
  .history {
    margin-top: 8rem;
    li {
      margin: 0 5rem 0 2rem;
      padding: 0 0 4rem 3rem;
      border-left: 1px solid #222;
      position: relative;
      &:last-child {
        padding-bottom: 2rem;
      }
      &::before {
        display: block;
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #222;
        position: absolute;
        left: -0.35rem;
        top: 0;
        z-index: 10;
      }
      &::after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-radius: 50%;
        border: 0;
        position: absolute;
        left: 0;
        top: 0.4rem;
        transform: translate(-50%, -50%);
        transition: all 0.2s;
      }
      &:hover::after {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid $pointColor;
      }
      h4 {
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
      }
      span {
        color: #454545;
      }
      p {
        font-size: 1.1rem;
        margin-top: 1.3rem;
      }
    }
  }
  .skills {
    //padding-top: 8rem;
    h3 {
      margin: 20rem 0 10rem;
      font-size: 10rem;
    }
    .icons {
      width: 100%;
      height: calc(100vh - 8rem);
      position: relative;
      .ico {
        height: auto;
        position: absolute;
        img {
          width: 100%;
          height: auto;
        }
      }
      .i1 {
        @include setLocation(9.375rem, 35%, 30%);
      }
      .i2 {
        @include setLocation(9.375rem, 55%, 20%);
      }
      .i3 {
        @include setLocation(9.375rem, 48%, 50%);
      }
      .i4 {
        @include setLocation(6.125rem, 32%, 70%);
      }
      .i5 {
        @include setLocation(5.625rem, 72%, 40%);
      }
      .i6 {
        @include setLocation(8.125rem, 68%, 70%);
      }
      .i7 {
        @include setLocation(5.625rem, 80%, 15%);
      }
      .i8 {
        @include setLocation(3.75rem, 88%, 50%);
      }
      .i9 {
        @include setLocation(5.625rem, 17%, 20%);
      }
      .i10 {
        @include setLocation(3.125rem, 8%, 32%);
      }
      .i11 {
        @include setLocation(4.375rem, 15%, 60%);
      }
    }
  }
}

@media screen and (min-width: 1025px) {
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
